
@{
    ViewData["Title"] = "Панель администратора";
}



<main>
    <table>
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Пользователь</th>
            <th>Офис</th>
            <th>Дата</th>
            <th>Общая стоимость</th>
            <th>Статус</th>
            <th>Автомобили</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in ViewBag.Orders) {
            <tr>
                <td><a asp-controller="Order" asp-action="UpdateOrder" asp-route-id="@row.Key.OrderId">Обновить статус</a></td>
                <td><a asp-controller="Admin" asp-action="OnDeleteOrder" asp-route-id="@row.Key.OrderId">Удалить</a></td>
                <td>@TSI.Controllers.AdminController.GetName(row.Key.UserId)</td>
                <td>@TSI.Controllers.AdminController.GetAddress(row.Key.OfficeId)</td>
                <td>@row.Key.CreateDate</td>
                <td>@row.Key.Total</td>
                <td>@row.Key.Status</td>
                <td>@String.Join(", ",row.Value.ToArray())</td>
            </tr>
        }
        </tbody>
    </table>
</main>